# Configurações do Banco de Dados
DATABASE_URL="file:./dev.db"

# JWT
JWT_SECRET=sua-chave-secreta-aqui

# Servidor
PORT=3000

# Mercado Livre API
ML_APP_ID=seu-app-id-aqui
ML_CLIENT_SECRET=seu-client-secret-aqui
ML_REDIRECT_URI=http://localhost:3000/marketplace/mercadolivre/callback

# Shopee API (futuro)
SHOPEE_PARTNER_ID=
SHOPEE_PARTNER_KEY=
SHOPEE_REDIRECT_URI=http://localhost:3000/marketplace/shopee/callback